<header>
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="col-12 text-center logoContainer">
            <a href="#">
                <h5 class="logo">Coding Exercise</h5>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>
<div role="main" class="container">
    <router-outlet></router-outlet>
</div>
